$color-primary-0: #66CCCC; // Main Primary color */
$color-primary-1: #CCF7F7;
$color-primary-2: #95E4E4;
$color-primary-3: #40AEAE;
$color-primary-4: #249393;

/*switch的样式设定*/
$switch-height:1.24em;
$switch-width:2.52em;
